@model IEnumerable<BookShowEntity.BookTicket>;

@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div>
    <hr />
    <a asp-controller="Book" asp-action="BookEntry">Book Ticket Entry</a>
    <hr />
</div>

<div class="row">
    <div class="col-12">
        <h3>Book Tickets</h3>
        <hr />
        <table class="table table-light table-bordered table-hover">
            <thead>
                <tr>
                    <th>book ticket Id</th>
                    <th>Quantity</th>
                    <th>User Id</th>
                    <th>Show Id</th>
                    <th>User Name</th>
                    <th>View Bill</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    @*int userId = Convert.ToInt32(TempData["userid"]);
                    TempData.Keep();

                    if (item.UserId == userId)*@
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Quantity</td>
                            <td>@item.User.Id</td>
                            <td>@item.ShowId</td>
                            <td>@item.User.Name</td>
                            <td><a asp-controller="Bill" asp-action="Index" asp-route-bookiId="@item.Id">Pay Now</a></td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>





@*<div class="row">
    <div class="col-12">
        <h3>Book Tickets</h3>
        <hr />
        <table class="table table-light table-bordered table-hover">
            <thead>
                <tr>
                    <th>book ticket Id</th>
                    <th>Quantity</th>
                    <th>User Id</th>
                    <th>Show Id</th>
                    <th>User Name</th>
                    <th>View Bill</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Quantity</td>
                        <td>@item.User.Id</td>
                        <td>@item.ShowId</td>
                        <td>@item.User.Name</td>
                        <td><a asp-controller="Bill" asp-action="Index" asp-route-bookiId="@item.Id">Pay Now</a></td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>*@